<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}

Current Year: {{.AcaYear}}
Semester: {{.Fall.Term}}
{{range .Fall.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}
{{end}}

Semester: {{.Spring.Term}}
{{range .Spring.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}
{{end}}
{{end}}

</body>
</html>
